<!DOCTYPE html>
<html>

<head>

  <title>{{webpage_title}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/Exercises_Assessment.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/Upload.css') }}">

  <link rel="shortcut icon" href="{{ url_for('static', filename='images/icons8-doctors-bag-16.png') }}">

</head>

<body>

  <div class="topnav" id="myTopnav">
    <h1 style="color:#178DBB" /> Arm Rehabilitation Exercises

    <a href="/display/About.html">About</a>

    <div class="dropdown">
      <button class="dropbtn"><a href="/display/Exercises.html" />Exercises
        <i class="fa fa-caret-down"></i>
      </button>

      <div class="dropdown-content">
        <a href="/Exercise/Arm_Placed_in_the_Front.html">Arm Placed in the Front</a>
        <a href="/Exercise/Arm_Placed_on_its_Side.html">Arm Placed on its Side</a>
        <a href="/Exercise/Extending_the_Elbow_1.html">Extending the Elbow - 1</a>
        <a href="/Exercise/Extending_the_Elbow_2.html">Extending the Elbow - 2</a>
        <a href="/Exercise/Turning_the_Forearm.html">Turning the Forearm</a>
        <a href="/Exercise/Extending_the_Wrist.html">Extending the Wrist</a>
        <a href="/Exercise/Extending_the_Fingers.html">Extending the Fingers</a>
        <a href="/Exercise/Extending_the_Thumb.html">Extending the Thumb</a>
      </div>
    </div>

    <a href="/" class="active">Home</a>

  </div>

  <div style="padding-left:16px;">
    <h1 style="color:rgb(34, 110, 147); text-align: center">{{ Exercise['Exercise_Title'] }}</h1>

    <img class="bg" src="{{ url_for('static', filename=Image) }}">

    <div class="row">
      <div class="column" style="background-color:rgba(147, 186, 30, 0.757);">
        <h2 style="text-align:center;">Instructions Section</h2>
        <p class="Instructions">{{ Instructions|markdown }}</p>
      </div>
      <div class="column" style="background-color:rgba(16, 186, 212, 0.454);">
        <h2 style="text-align:center;">Upload Section</h2>
        <h3><u>Live Recording:</u></h3>
        <p>
          <li>Click the Start-Recording Button to begin the live recording.</li>

          <li>The Live Recording will begin after 10 seconds to allow you to setup yourself in a comfortable position.
          </li>

          <li>When you wish to end the assessment, please wait for 10 seconds before clicking the Stop-Recording Button.
          </li>

          <li>If you wish to restart the recording process from the beginning, please click the Restart Button.</li>
        </p>

        <h3><u>File Upload:</u></h3>
        <p>
          <li>Please upload a video file of the following specifications:</li>

        <ul>Resolution : 480p</ul>

        <ul>Frame Rate : 30 FPS</ul>

        <li>Click on the Chose File Button to select the video recording of the exercise you wish to perform and click
          the Upload Button to upload the video recording.</li>
        <li>You can also use this link to record online as per the required specification: <a
            href="https://www.webrtc-experiment.com/RecordRTC/" target="_blank">Record</a></li>
        </p>

      </div>
    </div>

    <p>
      <hr>
      {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
          <ul>
            {% for category, message in messages %}
            <div class="{{ category }}">
              <h3>{{ message }}</h3>
            </div>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </p>

    {% if filename %}
      <div style="margin: 10px auto;">
        <video autoplay="autoplay" controls="controls" preload="preload">
          <source src="{{ url_for('display_video', filename=filename) }}" type="video/webm">
        </video>
      </div>
    {% endif %}

    <!-- Live Recording Section -->
    <div id="recording_result">
      {% for category, message in messages %}
      <div class = "{{ category }}">
        <h3>{{ message }}</h3>
      </div>
      {% endfor %}
    </div>
    
    <div>
      <dl>
        <p>
          <!-- <input type="file" name="file" autocomplete="off" required> -->
          <!-- 1. Include action buttons play/stop -->
          <button id="btn-start-recording" class="button-start" onclick="startTimer(event);">Start Recording</button>
          <button id="btn-stop-recording" class="button-stop" disabled="disabled">Stop Recording</button>
          <button id="btn-restart" class="button-restart" onclick="location.reload(true)">Restart</button>
        <div id="start-counter"></div>
        <!--
      2. Include a video element that will display the current video stream and as well to show the recorded video at the end.
          -->
        <hr>
        <video id="my-preview" controls autoplay></video>
        </p>
      </dl>
    </div>

    <!-- Upload Video Section -->

    <form method="POST" action='/Exercise/{{ Exercise.Exercise_Webpage }}' enctype="multipart/form-data">
      <dl>
        <p>
          <hr>
          <input type="file" name="file" autocomplete="off" required>
          <input type="text" style="display:none;" value="{{ Exercise['Exercise_Webpage'] }}" name="webpage">
        </p>
      </dl>
      <p>
        <input type="submit" value="Upload">
      </p>
    </form>

    <!--
  2. Include a video element that will display the current video stream
  and as well to show the recorded video at the end.
-->

</body>

<!-- 3. Include the RecordRTC library and the latest adapter -->
<script src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script>


<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
  integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- <script src="{{ url_for('static', filename='scripts/upload.js') }}"></script> -->


<script>
  // Store a reference of the preview video element and a global reference to the recorder instance
  var video = document.getElementById('my-preview');
  let counterUI = document.getElementById("start-counter");
  let durationID;
  var recorder;
  var runtime;
  var Webpage = "{{ Exercise['Exercise_Webpage'] }}";
  console.log(Webpage);

  function convertTime(seconds) {
    runtime = seconds;

    var sec_num = parseInt(seconds); // don't forget the second param

    var hours = Math.floor(sec_num / 3600);
    var minutes = Math.floor((sec_num - (hours * 3600)) / 60);

    var seconds = sec_num - (hours * 3600) - (minutes * 60);
    console.log(minutes, seconds);

    if (minutes < 10) { minutes = "0" + minutes; }
    if (seconds < 10) { seconds = "0" + seconds; }

    return minutes + ':' + seconds;
  };
  function startRecording() {
    // Disable start recording button
    // Request access to the media devices
    navigator.mediaDevices.getUserMedia({
      audio: false,
      video: true
    }).then(function (stream) {
      // Display a live preview on the video element of the page
      setSrcObject(stream, video);
      var seconds = 0
      durationID = setInterval(() => {
        counterUI.innerHTML = convertTime(seconds)
        seconds++
      }, 1000);
      // Start to display the preview on the video element
      // and mute the video to disable the echo issue !
      video.play();
      video.muted = true;
      // Initialize the recorder
      recorder = new RecordRTCPromisesHandler(stream, {
        mimeType: 'video/webm',
        bitsPerSecond: 128000
      });
      // Start recording the video
      recorder.startRecording().then(function () {
        console.info('Recording video ...');
      }).catch(function (error) {
        console.error('Cannot start video recording: ', error);
      });
      // release stream on stopRecording
      recorder.stream = stream;
      // Enable stop recording button
      document.getElementById('btn-stop-recording').disabled = false;
    }).catch(function (error) {
      console.error("Cannot access media devices: ", error);
    });
  }
  // When the user clicks on start video recording
  // document.getElementById('btn-start-recording').addEventListener("click",  , false);
  function startTimer(evt) {
    // console.log(evt);
    evt.preventDefault();
    document.getElementById("btn-start-recording").disabled = true
    let counter = 2;
    let intervalID = setInterval(() => {
      if (counter == -1) {
        counterUI.innerHTML = "";
        clearInterval(intervalID);
        startRecording();
        return;
      }
      counterUI.innerHTML = counter;
      counter--;
    }, 1000);
    return false;
  }
  // When the user clicks on Stop video recording
  document.getElementById('btn-stop-recording').addEventListener("click", function () {
    this.disabled = true;
    clearInterval(durationID)
    counterUI.innerHTML = ''
    recorder.stopRecording().then(async function () {
      console.info('stopRecording success');

      if (recorder.blob) {
        var blob = URL.createObjectURL(recorder.blob);
        console.log(blob);

        var fileType = 'video';
        var fileName = ((new Date()).toISOString()) + '_live_recording_' + runtime + '.mp4';
        var formData = new FormData();
        var boundary = String(Math.random()).slice(2);

        formData.append("event_id", window.event_id);
        formData.append("type", recorder.type);
        formData.append("upload_option", "option");
        formData.append('file', recorder.blob, fileName);

        try {
          let res = await axios.post('/Exercise/' + Webpage, formData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          });
          document.getElementById("recording_result").innerHTML = res.data;
          console.log(res);
        } catch (error) {
          console.log(error);
        }
      }

      video.play();
      // Unmute video on preview
      video.muted = true;
      // Stop the device streaming
      recorder.stream.stop();
      // Enable record button again !
      document.getElementById('btn-start-recording').disabled = false;
    }).catch(function (error) {
      console.error('stopRecording failure', error);
    });
  }, false);
  function sendToServer(blob) {
  }



</script>

</html>
