<!DOCTYPE html>
<html>

<head>

  <title>Extending the Elbow - 1</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/Exercise.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/Upload.css') }}">

</head>

<body>

  <div class="topnav" id="myTopnav">
    <h1 style="color:#178DBB" /> Arm Rehabilitation Exercises

    <a href="/display/About.html">About</a>

    <div class="dropdown">
      <button class="dropbtn"><a href="/display/Exercises.html" />Exercises
        <i class="fa fa-caret-down"></i>
      </button>

      <div class="dropdown-content">
        <a href="/display/Arm_Placed_in_the_Front.html">Arm Placed in the Front</a>
        <a href="/display/Arm_Placed_on_its_Side.html">Arm Placed on its Side</a>
        <a href="/display/Extending_the_Elbow_1.html">Extending the Elbow - 1</a>
        <a href="/display/Extending_the_Elbow_2.html">Extending the Elbow - 2</a>
        <a href="/display/Turning_the_Forearm.html">Turning the Forearm</a>
        <a href="/display/Extending_the_Wrist.html">Extending the Wrist</a>
        <a href="/display/Extending_the_Fingers.html">Extending the Fingers</a>
        <a href="/display/Extending_the_Thumb.html">Extending the Thumb</a>
      </div>
    </div>

    <a href="/" class="active">Home</a>

  </div>

  <div style="padding-left:16px;">
    <h1 style="color:#226e93; text-align: center">Exercise: Extending the Elbow - 1</h1>


    <div class="row">
      <div class="column" style="background-color:#aaa;">
        <h2>Instructions</h2>
        <p>Some text..</p>
      </div>
      <div class="column" style="background-color:#bbb;">
        <h2>Upload Section</h2>
        <p>Some text..</p>
      </div>
    </div>

    <hr>

    <p>
      {% with messages = get_flashed_messages() %}
      {% if messages %}

    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </p>
    {% if filename %}

    <div style="margin: 10px auto;">
      <video autoplay="autoplay" controls="controls" preload="preload">
        <source src="{{ url_for('display_video', filename=filename) }}" type="video/webm>
      </source>
  </video>
</div>
{% endif %}
<form method="POST" action="/" enctype="multipart/form-data">
        <dl>
          <p>

            <!-- 1. Include action buttons play/stop -->
            <button id="btn-start-recording" onclick="startTimer(event);">Start Recording</button>
            <button id="btn-stop-recording" disabled="disabled">Stop Recording</button>
            <button id="btn-restart" onclick="location.reload(true)">Restart</button>
          <form method="POST" action="/" enctype="multipart/form-data">
            <dl>
              <p>
                <input type="file" name="file" autocomplete="off" required>
                <input type="text" style="display:none;" value="Extending_the_Elbow_1" name="webpage">
              </p>
            </dl>
            <p>
              <input type="submit" value="Upload">
            </p>
          </form>
          <div id="start-counter"></div>
          <!--
  2. Include a video element that will display the current video stream
  and as well to show the recorded video at the end.
-->
          <hr>
          <video id="my-preview" controls autoplay></video>
          </p>
        </dl>
        </form>

</body>

</html>
