<!doctype html>

<head>
    <title>Upload Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<h2 style="color: red;">Upload a video to get the class</h2>

<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
</p>
{% if filename %}

<div style="margin: 10px auto;">
    <video autoplay="autoplay" controls="controls" preload="preload">
        <source src="{{ url_for('display_video', filename=filename) }}" type="video/webm>
        </source>
    </video>
</div>
{% endif %}
<form method=" post" action="/" enctype="multipart/form-data">
        <dl>
            <p>

                <!-- 1. Include action buttons play/stop -->
                <button id="btn-start-recording" onclick="startTimer(event);">Start Recording</button>
                <button id="btn-stop-recording" disabled="disabled">Stop Recording</button>
                <button id="btn-restart" onclick="location.reload(true)">Restart</button>
            <form method="post" action="/" enctype="multipart/form-data">
                <dl>
                    <p>
                        <input type="file" name="file" autocomplete="off" required>
                    </p>
                </dl>
                <p>
                    <input type="submit" value="Upload">
                </p>
            </form>
            <div id="start-counter"></div>
            <!--
    2. Include a video element that will display the current video stream
    and as well to show the recorded video at the end.
 -->
            <hr>
            <video id="my-preview" controls autoplay></video>
            </p>
        </dl>
        </form>
        <!-- 3. Include the RecordRTC library and the latest adapter -->
        <script src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script>

        <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

        <script src="https://www.webrtc-experiment.com/EBML.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
            integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
