/* Flash Messages Styling */
.result_0 {
  color: rgb(243, 62, 7);
  text-align: center;
}

.result_25 {
  color: rgb(233, 148, 10);
  text-align: center;
}

.result_50 {
  color: rgb(172, 248, 7);
  text-align: center;
}

.result_75 {
  color: rgb(24, 209, 117);
  text-align: center;
}

.result_100 {
  color: rgb(52, 249, 8);
  text-align: center;
}
