/* Upload Buttons Styling */
body {margin:0;font-family:Arial}

.btn, .button-start:link,  .button-restart:link, .btn, .button-start,  .button-restart {
  background-color: teal;
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: blink;
  margin: 0 auto;

  /* align-items: center; */
}

.button-start:hover{
  background-color: rgb(42, 187, 23);
}
.btn:hover, .button-restart:hover, .btn:active, .button-start:active, .button-restart:active {
  background-color: rgb(23, 141, 187);
}


.button-stop, .button-stop:link, .button-stop, .button-stop:visited{
  background-color: rgb(119, 42, 32);
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: blink;
  margin: 0 auto;

}

.button-stop:hover, .button-stop:active{
  background-color: rgb(233, 36, 10);
}

