/* Upload Buttons Styling */
body {
  margin: 0;
  font-family: Arial
}

.btn,
.button-start:link,
.button-restart:link,
.btn,
.button-start,
.button-restart {
  background-color: teal;
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: blink;
  margin: 0 auto;

  /* align-items: center; */
}

.button-start:hover {
  background-color: rgb(42, 187, 23);
}

.btn:hover,
.button-restart:hover,
.btn:active,
.button-start:active,
.button-restart:active {
  background-color: rgb(23, 141, 187);
}


.button-stop,
.button-stop:link,
.button-stop,
.button-stop:visited {
  background-color: rgb(119, 42, 32);
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: blink;
  margin: 0 auto;

}

.button-stop:hover,
.button-stop:active {
  background-color: rgb(233, 36, 10);
}

.button-download,
.button-download:link,
.button-download,
.button-download:visited {
  background-color: rgb(119, 42, 32);
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: blink;
  margin: 0 auto;

}

.button-download:hover,
.button-download:active {
  background-color: rgb(86, 52, 200);
}

/* Email */
* {
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(4, 170, 109);
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(69, 160, 73);
}
