body {margin:0;font-family:Arial}

.btn, .btn-start-recording:link,  .btn-restart:link, .btn, .btn-start-recording,  .btn-restart:visited {
  background-color: teal;
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: blink;
  margin: 0 auto;

  /* align-items: center; */
}

.btn:hover, .btn-start-recording:hover, .btn-restart:hover, .btn:active, .btn-start-recording:active, .btn-restart:active {
  background-color: rgb(23, 141, 187);
}


.btn-stop-recording, .btn-stop-recording:link, .btn-stop-recording, .btn-stop-recording:visited{
  background-color: rgb(119, 42, 32);
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: blink;
  margin: 0 auto;

}

.btn-stop-recording:hover, .btn-stop-recording:active{
  background-color: rgb(233, 36, 10);
}


input{
  background-color: rgb(23, 141, 187);
  border: none;
  color: white;
  padding: 12px 12px;
  text-decoration: blink;
  cursor: pointer;
}
